{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}

<p class="text" style="float:left; background-color:rgb(220, 220, 220); font-size:20px; margin-top:0; padding-left:5px; padding-right:5px; padding-top:15px; border:none; width:300px; height:100%;">Deja tu entrenamiento en manos profesionales. En nutrifit te ofrecemos entrenamiento personalizado de manera presencial en la isla de Roatán, y de manera virtual a nivel nacional, complementado con un plan alimenticio diseñado ara  tus propósitos fit. <a href="#" style="text-decoratioin:none; color:rgb(10, 150, 190);">Contáctanos</a> para más información<br/><br/>Revisa nuestra sección de <a href="#" style="text-decoratioin:none; color:rgb(10, 150, 190);">Productos</a> y enterate de todos los suplementos y accesorios de gimnasio que tenemos para tí. Hacemos envíos a nivel nacional.</p>


<br/>

<div class="responsive" style="margin-bottom:15px;">
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
            <img src="{% static 'nutrifitapp/images/proteina_isolada_L1200.jpg' %}" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Precio: L. 1,200.00 }}.00<br/>
                Stock: 3<br/>
            </div>
        </div>
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
            <img src="{% static 'nutrifitapp/images/creatina_L990.jpg' %}" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Precio: L. 990.00 }}.00<br/>
                Stock: 3<br/>
            </div>
        </div>
</div>


{% endblock %}