{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}

<!-- <p class="text" style="float:left; background-color:rgb(220, 220, 220); font-size:20px; margin-top:0; padding-left:5px; padding-right:5px; padding-top:15px; border:none; width:300px; height:100%;">Deja tu entrenamiento en manos profesionales. En nutrifit te ofrecemos entrenamiento personalizado de manera presencial en la isla de Roatán, y de manera virtual a nivel nacional, complementado con un plan alimenticio diseñado ara  tus propósitos fit. <a href="#" style="text-decoratioin:none; color:rgb(10, 150, 190);">Contáctanos</a> para más información<br/><br/>Revisa nuestra sección de <a href="#" style="text-decoratioin:none; color:rgb(10, 150, 190);">Productos</a> y enterate de todos los suplementos y accesorios de gimnasio que tenemos para tí. Hacemos envíos a nivel nacional.</p>-->
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">NUTRIFIT HN</h1>
    <p>Contáctanos para lograr tus objetivos fit</p>
    <a href="https://wa.me/50433127994">Whatsapp</a>
  </div>
</div>

<br/>

<div style="margin-left:15%; margin-right:15%;">


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/proteina_isolada_L1200.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 1,200.00<br/></div>
    </div>
</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/creatina_L990.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 990.00</div>
    </div>
</div>


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/aminoacidos_bcaa_L810.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 810.00</div>
    </div>
</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/colageno_L950.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 950.00</div>
    </div>
</div>


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/pre-entreno_L870.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 870.00</div>
    </div>
</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/quemador_de_grasa_L600.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 600.00</div>
    </div>
</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/faja_moldeadora_L650.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 650.00</div>
    </div>
</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/fajones_velcro_L700.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 700.00</div>
    </div>
</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/guantes_mujer_L580.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 580.00</div>
    </div>
</div>



<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/lazo_saltar_L150.jpeg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 150.00</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="#">
        <img src="{% static 'nutrifitapp/images/balanza_corporal_L600.jpeg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Precio: L. 150.00</div>
    </div>
</div>


<div class="clearfix"></div>

</div>

{% endblock %}